/* styles.css */

body {
    background-color: #000000; /* light gray background */
    color: #ffffff; /* dark gray text */
    font-family: Arial, sans-serif; /* fallback font */
    margin: 0; /* remove default body margin */
    padding: 0; /* remove default body padding */
}

nav {
    background-color: #ffffff; /* blue navbar background */
    padding: 3px 0; /* add some padding to the navbar */
    text-align: center; /* align links to the center */
}

nav a {
    color: #000000; /* white text color for links */
    text-decoration: none; /* remove underline from links */
    margin: 0 4px;
    font-size: large;
     /* add some space between links */
}

nav a:hover {
    text-decoration: underline; /* underline links on hover */
}

h1 {
    color: #007bff; /* blue color for h1 headings */
}

img {
    /* add a blue border around the image */
    margin-top: 20px; /* add some space above the image */
    max-width: 100%; /* Ensure images don't exceed their container */
}

.center {
    text-align: center; /* center align text */
}

u {
    text-decoration: underline; /* underline text */
}

b {
    font-weight: bold; /* make text bold */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #007bff;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
    color: #333;
}

.post-meta {
    color: #666;
    font-size: 14px;
}

.post-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-content {
    color: #333;
    line-height: 1.6;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 48%;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 600px) {
    .image {
        width: 100%;
    }
}
